<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh">
    
    <div class="container">
        
        <h3 class="fw-bold display-2 text-white text-center">RESULTADO</h3>
        <span class="d-flex justify-content-center mt-3">
            <h3 class="text-warning fw-bold text-center">(RESULTADO)</h3>
        </span>
    </div>
    

</div>


<span class="fixed-bottom d-flex justify-content-center align-item-center pb-3">
    <button class="btn btn-dark btn-lg" type="button" [routerLink]="['/desafíos-python']"><i class="fa-solid fa-house fa-2x"></i></button>
</span>