<app-navbar></app-navbar>

<div class="container-fluid">
    <h3 class="text-light text-center fw-bold display-4 mt-3">SOLICITUDES DE EMPRESAS</h3>
</div>

<div class="container text-light">
    <div class="row centrar m-1">

        <div class="col-md-6">

            <div class="card shadow bg-light mb-3 mt-4 border-warning">
                <div class="card-header bg-transparent fw-bold text-center text-dark"><h5>(NOMBRE EMPRESA)</h5></div>
                <div class="card-body">
                  <p class="card-text text-dark">Correo electrónico: (Correo electrónico)</p>
                  <p class="card-text text-dark">Teléfono: (Teléfono)</p>
                  <p class="card-text text-dark">Ubicación: (Datos de ubicación)</p>
                  <p class="card-text text-dark">(Descripción)</p>
                  
                  <h5 class="card-text text-dark text-center fw-bold">SOLICITUD DE CUENTA:</h5>
                  <p class="card-text text-dark">(Solicitud de cuenta)</p>



                </div>
              <div class="card-footer">
                <span class="d-flex text-align-center justify-content-center pt-2"><button class="btn btn-dark fw-bold ">RECHAZAR</button>
                    <button class="btn btn-warning fw-bold mx-2">ACEPTAR</button></span>
              </div> 
              </div>
              
        </div>


    </div>
</div>