<app-navbar></app-navbar>

<div class="container-fluid">
    <h3 class="text-light text-center fw-bold display-4 mt-3">NOMBRE Y APELLIDO</h3>
</div>

<div class="container text-light">
    <div class="row centrar m-1">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <div class="card shadow bg-light mb-3 mt-4 border-warning">
                <div class="card-header bg-transparent fw-bold text-center text-dark">(NOMBRE)</div>
                <div class="card-body">
                  <p class="card-text text-dark">Correo electrónico: (Correo electrónico)</p>
                  <p class="card-text text-dark">(Descripción perfil 'si hay')</p>
                  <p class="card-text text-dark text-center mt-4">(Código postal, Provincia, País)</p>

                </div>
               
              </div>
        
        </div>

        <div class="col-md-4"></div>

    </div>
</div>