<p>editar-desafio works!</p>
<br><br>

<app-navbar></app-navbar>

<div class="container-fluid " id="bloque">
  <div class="card m-4" *ngIf="inicio">
    <h3 class="card-header text-center fw-bold">Editar Desafio</h3>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="f.form.valid" class="row g-3 rounded">

        <!--Título del desafío-->
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label fw-bold mx-1">Título del desafío:</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Título" autocomplete="off"
            name="titulo" [(ngModel)]="titulo" required>
        </div>

        <!--Descripción del desafío-->
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label fw-bold">Descripción del desafío:</label>
          <textarea class="form-control" placeholder="Agrega una breve descripción" id="floatingTextarea"
            name="descripcion" [(ngModel)]="descripcion" required></textarea>
        </div>
        <!--Duración del desafío-->
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label fw-bold">Duración del desafío:</label>
          <select id="inputState" class="form-select" name="duracion" [(ngModel)]="duration" required>
            <option value="5 Minutos">5 Minutos</option>
            <option value="10 Minutos">10 Minutos</option>
            <option value="15 Minutos">15 Minutos</option>
            <option value="25 Minutos">25 Minutos</option>
            <option value="30 Minutos">30 Minutos</option>
            <option value="45 Minutos">45 Minutos</option>
            <option value="60 Minutos">60 Minutos</option>
          </select>
        </div>
        <!--Lenguaje de programación-->
        <div class="col-md-6">
          <label for="inputState" class="form-label fw-bold">Lenguaje de programación:</label>
          <select id="inputState" class="form-select" name="lenguaje" [(ngModel)]="lenguaje" required>
            <option value="{{category.id}}" *ngFor="let category of categories">
              {{category.name}}
            </option>
          </select>

        </div>

        <!--Nivel de dificultad del desafío-->
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label fw-bold mx-1">Nivel:</label>
          <select id="inputState" class="form-select" name="nivel" [(ngModel)]="nivel" required>
            <option>Junior</option>
            <option>Semisenior</option>
            <option>Senior</option>
          </select>
        </div>

      </form>
    </div>

    <div class="card-footer mt-4">
      <div class="col-12 centrar">
        <!--Botón volver-->
        <div class="d-grid gap-2 col-3 mx-3">
          <button class="btn btn-dark text-white fw-bold" type="button" onclick="window.history.go(-1);">VOLVER</button>
        </div>
        <!--Botón aceptar-->
        <div class="d-grid gap-2 col-3"> <button class="btn btn-warning text-white fw-bold" type="submit"
            [disabled]="!f.form.valid" (click)="mostrar()">ACEPTAR</button>
        </div>
      </div>

    </div>
  </div>


  <div class="card m-4" *ngIf="estructura">
    <h3 class="card-header text-warning text-center fw-bold">PREGUNTAS Y RESPUESTAS DEL DESAFÍO</h3>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="f.form.valid" class="row g-3 rounded">

        <div *ngFor="let question of questions">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label fw-bold mx-1">Pregunta {{question.number}}:</label>
            <textarea class="form-control" placeholder="Escriba la pregunta" id="floatingTextarea" name="pregunta1"
              [(ngModel)]="question.title" required></textarea>
          </div>
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label fw-bold mx-1">Respuestas:</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Opción 1" autocomplete="off" required
              name="option1" [(ngModel)]="question.options[0].text">
            <input type="text" class="form-control mt-3" id="inputAddress" placeholder="Opción 2" autocomplete="off"
              required name="option2" [(ngModel)]="question.options[1].text">
            <input type="text" class="form-control mt-3" id="inputAddress" placeholder="Opción 3" autocomplete="off"
              required name="option3" [(ngModel)]="question.options[2].text">
            <input type="text" class="form-control mt-3" id="inputAddress" placeholder="Opción 4" autocomplete="off"
              required name="option4" [(ngModel)]="question.options[3].text">
            <label for="inputEmail4" class="form-label fw-bold mx-1 mt-3">Respuesta correcta:</label>
            <select id="inputState" class="form-select border-success fw-bold" name="rta1" [(ngModel)]="question.select"
              required>
              <option value="0">Opción 1</option>
              <option value="1">Opción 2</option>
              <option value="2">Opción 3</option>
              <option value="3">Opción 4</option>
            </select>
          </div>
        </div>

      </form>
    </div>

    <div class="card-footer mt-3">
      <div class="col-12 centrar mt-3">
        <!--Botón volver-->
        <div class="d-grid gap-2 col-3 mx-3">
          <button class="btn btn-dark text-white fw-bold" type="button" (click)="inverso()">VOLVER</button>
        </div>
        <!--Botón aceptar-->
        <div class="d-grid gap-2 col-3"> <button class="btn btn-warning text-white fw-bold" type="submit"
            [disabled]="!f.form.valid" (click)="create()">ACEPTAR</button>
        </div>
      </div>
    </div>
