<div class="container-fluid pt-2">
    <div class="container-fluid mt-5 d-flex justify-content-end">
        <form class="form-inline">
            <a [routerLink]="['/iniciar-sesión']"><button class="btn btn-outline-light" type="button">Iniciar Sesión</button></a>
            <a [routerLink]="['/registrarse']"><button class="btn btn btn-warning mx-2" type="button"><b>Registrarse</b></button></a>
          </form>
    </div>
    <div class="container-fluid centrar mt-3 mb-4">
        <h1 class="mx-5"style="color: white">Code&CO</h1>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mx-2">
  
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card">
      
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
