<!--Header-->
<div class="container-fluid pt-2">
  <div class="container-fluid mt-5 d-flex justify-content-end">
    <form class="form-inline">
      <a [routerLink]="['/login']"><button class="btn btn-outline-light fw-bold" type="button">Iniciar Sesión</button></a>
      <button class="btn btn btn-warning mx-2 fw-bold" type="button" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Registrarse</button>
    </form>
  </div>

  <!--Título-->
  <div class="container-fluid centrar mt-3 mb-4">
    <h1 class="mx-5 display-1 text-light fw-bold">Code&CO</h1>
  </div>

  <div class="row mb-3 mx-2">
    <div class="col-sm-6 mb-3">

      <!--Tarjeta empresa-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">PARA EMPRESAS</h5>
          <p class="card-text">Si eres una empresa y estás buscando talento IT puedes abrirte una cuenta para conocer los
            perfiles de los usuarios. Contarás con la posibilidad de crear tus desafíos personalizados para probar a los
            candidatos.</p>
          <span class="centrar">
            <a [routerLink]="['/registrarse-empresa']">
              <button type="button" class="btn btn-dark fw-bold">EMPIEZA A CONTRATAR</button>
            </a>
          </span>
        </div>
      </div>
      
    </div>

    <div class="col-sm-6 mb-5">

      <!--Tarjeta programador-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">PARA PROGRAMADORES</h5>
          <p class="card-text">Si eres un programador y quieres poner a prueba tus conocimientos técnicos puedes crearte
            una cuenta para realizar desafíos.</p>
          <div class="container d-flex justify-content-center">
            <a [routerLink]="['/registrarse']">
              <button type="button" class="btn btn-outline-warning mt-4 fw-bold">CREAR CUENTA</button>
            </a>
          </div>
  
        </div>
      </div>
      
    </div>
  </div>


  <!--Carousel-->
  <div class="container-fluid centrar">
    <div id="carouselExampleDark" class="carousel carousel-dark slide img-fluid mb-5" style="max-width: 1000px; max-height: 500px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/bk4.png" class="d-block img-fluid rounded" alt="..." style="object-fit:cover" >
          <div class="carousel-caption d-none d-md-block">
            
          </div>
        </div>

        <div class="carousel-item">
          <img src="../../../assets/img/persona.png" class="d-block img-fluid rounded" alt="..." style="object-fit:cover;">
          <div class="carousel-caption d-none d-md-block">
            
          </div>
        </div>

        <div class="carousel-item">
          <img src="../../../assets/img/apple.png" class="d-block img-fluid rounded" alt="..." style="object-fit:cover;">
          <div class="carousel-caption d-none d-md-block">
            
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</div>

<!--Modal regístrate-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="container d-flex justify-content-center">
          <h5 class="modal-title fw-bold" id="exampleModalLabel">REGÍSTRATE</h5>
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <span class="container d-grid gap-2 col-md-6 mx-auto" [routerLink]="['/registrarse']"><button type="button"
            class="btn btn-outline-warning fw-bold" data-bs-dismiss="modal" aria-label="Close">PROGRAMADOR</button></span>

        <span class="container d-grid gap-2 col-md-6 mx-auto mt-2" [routerLink]="['/registrarse-empresa']">
          <button type="button" class="btn btn-dark fw-bold" data-bs-dismiss="modal" aria-label="Close">EMPRESA</button>
        </span>
      </div>
    </div>
  </div>

</div>

<app-footer class="fixed-bottom"></app-footer>

