<app-navbar></app-navbar>

<div class="container centrar mt-2 pb-1">
    <h1 class="text-light fw-bold titulo">Code&Co</h1>
  </div>

<div class="container-fluid text-light">
  <h1 class='fw-bold centrar text-warning'>¿Quiénes somos?</h1>
  <p class="m-3">Un buen desafío mejora tu habilidad. Somos un grupo de programadores web enfocados en mejorar los sistemas de evaluación de habilidades. Ofrecemos un servicio transparente, efectivo y confiable tanto para programadores como para empresas. Nuestras oficinas se encuentran radicadas en Buenos Aires, Argentina.</p>

  <h1 class='fw-bold centrar text-warning'>Nuestra misión</h1>
  <p class="m-3">El objetivo de Code&Co es mejorar el vínculo que existe entre programadores y empresas a través de pruebas de habilidad. Con este mecanismo pretendemos que nuestros usuarios desarrolladores puedan mejorar sus habiliades al mismo tiempo que se van creando un perfil atractivo para las empresas. Asimismo, los reclutadores pueden crear sus desafíos personalizados para encontrar al tipo de programador deseado.</p>

  <h1 class='fw-bold centrar text-warning pb-2'>Medios de contacto</h1>

  <div class="container-fluid centrar mb-5">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <a id="nombre"><li class="list-group-item centrar">
          <i class="fa-solid fa-envelope fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">code.co@gmail.com</h5>
        </li></a>

        <a><li class="list-group-item centrar">
          <i class="fa-brands fa-whatsapp fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">(+54) 1139503869</h5>
        </li></a>

        <a href id="nombre"><li class="list-group-item centrar">
          <i class="fa-brands fa-linkedin fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">Code&Co</h5>
        </li></a>
      </ul>
    </div>
  </div>
  
     
    
     


<app-footer class="fixed-bottom"></app-footer>