<app-navbar></app-navbar>

<div class="container centrar mt-2 pb-3">
    <h1 class="text-light fw-bold titulo">Code&Co</h1>
  </div>

<div class="container-fluid text-light">
  <h1 class='fw-bold centrar text-warning'>¿Quiénes somos?</h1>
  <p class="m-3">Code&Co </p>

  <h1 class='fw-bold centrar text-warning'>Nuestra misión</h1>
  <p class="m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec mattis odio. Mauris ut sem eu mi ullamcorper egestas id et purus. Nulla non ultricies sem, a porttitor erat. Nullam dapibus aliquam justo in porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum luctus, ex a feugiat ullamcorper, ex ipsum ultrices turpis, in suscipit justo velit sed turpis. Nulla eget rhoncus augue, id consectetur sapien.</p>

  <h1 class='fw-bold centrar text-warning pb-3'>Medios de contacto</h1>

  <div class="container-fluid centrar mb-5">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <a id="nombre"><li class="list-group-item centrar">
          <i class="fa-solid fa-envelope fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">code.co@gmail.com</h5>
        </li></a>

        <a><li class="list-group-item centrar">
          <i class="fa-brands fa-whatsapp fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">(+54) 1139503869</h5>
        </li></a>

        <a href id="nombre"><li class="list-group-item centrar">
          <i class="fa-brands fa-linkedin fa-2xl pt-1"></i>
          <h5 class="mx-2 pt-2">Code&Co</h5>
        </li></a>
      </ul>
    </div>
  </div>
  
     
    
     


<app-footer class="fixed-bottom"></app-footer>