<app-navbar></app-navbar>

<div class="container-fluid text-center fw-bold text-light display-4 m-3">
  LISTADO DE PROGRAMADORES
</div>

<div class="container-fluid">

  <div class="row m-1">
    <div class="col-md-4" *ngFor="let profile of profiles">
      <div class="card shadow bg-light mb-3 mt-4 border-warning">
        <div class="card-header fw-bold text-center"><a [routerLink]="['/mi-perfil']"
            class="text-warning">{{profile.applicant_profile.first_name }} {{profile.applicant_profile.last_name}}</a>
        </div>
        <div class="card-body text-dark text-center">
          <p class="card-text">Correo electrónico: {{profile.email}}</p>
          <p class="card-text" *ngIf="profile.applicant_profile.description">{{profile.applicant_profile.description}}
          </p>
        </div>
        <div class="card-footer bg-transparent text-center text-dark fw-bold">Ubicación:
          {{profile.applicant_profile.location.city}},{{profile.applicant_profile.location.province}},
          {{profile.applicant_profile.location.country}})
        </div>
        <span class="text-center mt-3">
          <button class="btn btn-warning fw-bold" style="margin-right: 5px;"
            [routerLink]="['/perfil/user/', profile.id]">
            Ver perfil</button>
        </span>
      </div>
    </div>

  </div>



</div>


<app-footer class="fixed-bottom"></app-footer>
