<div class="card shadow bg-light mb-3 mt-4">
  <div class="card-header text-center bg-transparent fw-bold">{{data.title}}</div>
  <div class="card-body">
    <p class="card-text">{{data.description}}</p>
    <p class="card-text">Tiempo estimado: {{data.duration}}</p>
    <span class="centrar mt-3" *ngIf="isApplicant">
      <button class="btn btn-warning fw-bold" *ngIf="isApplicant()"
        [routerLink]="['/inicio-desafio', data.id]">REALIZAR</button>
    </span>
  </div>
  <div class="card-footer bg-transparent text-center fw-bold">Creado por: {{ getCreatedBy()}} </div>
</div>
