<app-navbar></app-navbar>

<div class="container-fluid">
  <h3 class="text-light text-center fw-bold display-4 mt-3">{{name}}</h3>
</div>

<div class="container text-light">
  <div class="row centrar m-1">
    <div class="col-md-4"></div>

    <div class="col-md-4">

      <div class="card shadow bg-light mb-3 mt-4 border-warning">
        <div class="card-header bg-transparent fw-bold text-center text-dark">{{name}}</div>
        <div class="card-body text-dark">
          <p class="text-dark fw-bold">
            Contacto:
          </p>
            <ul>
              <li>{{email}}</li>
              <li *ngIf="isNotAdmin()">{{phone}}</li>
            </ul>
          
          <p class="card-text text-dark" *ngIf="descriptionExits()"><b>Descripción:</b></p>
          <p class="card-text text-dark" *ngIf="descriptionExits()">{{description}}</p>
          
          <p class="card-text text-dark fw-bold" *ngIf="isNotAdmin()">Ubicación de las oficinas:</p>
          <p class="card-text text-dark text-center">
            {{country}}.
          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4"></div>

  </div>
</div>

<div>
  <div class="container-fluid">
    <h3 class="text-light text-center fw-bold display-4 mt-3">DESAFÍOS ACTIVOS</h3>
  </div>

  <div class="container-fluid centrar mb-4">
    <div class="container m-2">

      <div class="row">

        <div class="col-6" *ngFor="let challenge of challengesRecruiter">
          <div class="card shadow bg-light mb-3 mt-4">
            <div class="card-header text-center bg-transparent fw-bold">{{challenge.title}}</div>
            <div class="card-body">
              <p class="card-text">{{challenge.description}}</p>
              <span class="centrar mt-3">
                <button class="btn btn-warning fw-bold" *ngIf="userLoggedIsApplicant"
                  [routerLink]="['/inicio-desafio', challenge.id]">REALIZAR</button>
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
